[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MGMM"]
	path = MGMM
	url = https://github.com/zrmacc/mgmm
[submodule "PracticalEquiDesign"]
	path = PracticalEquiDesign
	url = https://github.com/cran/PracticalEquiDesign
[submodule "RNOmni"]
	path = RNOmni
	url = https://github.com/zrmacc/rnomni
[submodule "SurrogateRegression"]
	path = SurrogateRegression
	url = https://github.com/zrmacc/surrogateregression
[submodule "Temporal"]
	path = Temporal
	url = https://github.com/zrmacc/temporal
