[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RNOmni"]
	path = RNOmni
	url = https://github.com/zrmacc/rnomni
	shallow = true
	registered = true
[submodule "SurrogateRegression"]
	path = SurrogateRegression
	url = https://github.com/zrmacc/surrogateregression
	shallow = true
	registered = true
[submodule "Temporal"]
	path = Temporal
	url = https://github.com/zrmacc/temporal
	shallow = true
	registered = true
